:root
    {
        --deep-purple: #363237;
        --indigo: #2d4262;
        --taupe: #73605b;
        --blush: #d09683;
    }

*
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

body
    {
        background-color: var(--deep-purple);
    }
/* Header Style Start*/
header
    {
        top: 0;
        background-color: var(--deep-purple);
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0px 10px 0px;
    }

.name-box
    {
        display: flex;
        flex-wrap: wrap;
        background-color: var(--indigo);
        float: left;
        border: 1px solid var(--indigo);
        border-radius: 3px;
    }

.name-box h1 a
    {
        font-size: 40px;
        font-weight: bold;
        color:  var(--blush);
        text-decoration: none;
        padding-left: 300px;
        position: relative;
        top: 8px;
    }

header nav ul
    {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

header nav ul div
    {
        background-color:var(--deep-purple);
        padding: 10px 15px;
    }

header nav ul div li a
    {
        color: var(--blush);
        font-size: 40px;
        text-decoration: none;
    }

.nav-about, .nav-work, .nav-contact, .nav-resume
    {
        border-bottom: 1px solid var(--blush);
    }

/* hero style start*/
.hero-img
    {
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width:100%;
    position: relative;
    }

.hero-container
    {
        display: flex;
        background-color: var(--indigo);
        position: absolute;
        bottom: 8px;
        right: 75px;
        font-size: xx-large;
        font-family:Helvetica, sans-serif;
        color: var(--blush);
        padding: 0px 10px 0px 10px;
    }

.about
    {
        display: flex;
        flex-wrap: wrap;
        margin: 100px 125px 100px 125px;
        padding-bottom: 50px;
        width: 80%;
    }

.about h1
    {
        color: var(--blush);
        font-size: 45px;
        justify-content: space-between;
        border-right: 3px solid var(--blush);
        padding-bottom: 100px;
        padding-right: 10px;
        align-items: flex-start;
    }


.about div 
    {
        display: block;
        flex: 2 70%;
        flex-wrap: wrap;
        justify-content: space-between;
    }


.about p 
    {
        font-size: 19px;
        width: 95%;
        align-items: center;
        color: var(--blush);
        padding-left: 45px;
    }


